@model ZlatkoBandrov.WebApp.Models.FilterAndSearchModel

@{
    ViewBag.Title = "Filter And Search Example";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<p>
</p>

<table class="table">
    <tr>
        <th>Employee ID</th>
        <th>Full Name</th>
        <th>Email</th>
        <th>Role</th>
        <th>Teams</th>
        <th>Age</th>
        <th>Employee Arrivals</th>
    </tr>
    @foreach (var item in Model.EmployeeDataItems)
    {
        <tr>
            <td>
                @item.EmployeeID
            </td>
            <td>
                @item.FullName
            </td>
            <td>
                @item.Email
            </td>
            <td>
                @item.Role
            </td>
            <td>
                @item.Teams
            </td>
            <td>
                @item.Age
            </td>
            <td>

            </td>
        </tr>
    }
</table>
